.App {
  font-family: sans-serif;
  text-align: center;
}
.Square {
  font-size: 12px;
  background: lightgrey;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.Container {
  border: 1px solid grey;
  width: fit-content;
}
